.hero{
    height: 100vh;
    background: linear-gradient(to right,var(--color-primary),var(--color-secondary));
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    display: flex;
    gap: 30px;
    color: var(--color-light);
    
}

h1 {
    font-size: 48px;
}

.hero p{
    color: rgba(255, 255, 255, 0.651);
}
.hightlight {
    color: #f9b523;
}

.cta-button {
    background: white;
    color: var(--color-primary);
    border-radius: 32px;
    padding: 20px 40px;

    transition: all 0.3s ease;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cta-button:hover {
    background-color: rgba(243, 245, 247, 0.814);
    transform: scale(1.08); 
    box-shadow: 0 12px 30px rgba(0,0,0,0.25); 
}